<breadcrumbs [breadPageTitle]="pageTitle"></breadcrumbs>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2 pt-5">
    <div class="row">
        <!-- Checkout Shipping-->
        <div class="col-xl-9 col-lg-8">
            <div class="steps flex-sm-nowrap mb-5"><a class="step" 
                [routerLink]="['/address']" >
                <h4 class="step-title">1. Address</h4></a>

                <a  
                    *ngIf="storefront"
                    [style.borderColor]="storefront.APTSMD_Accent_Color__c"    
                    class="step active" [routerLink]="['/shipping']" >

                    <h4 
                        *ngIf="storefront"
                        [style.color]="storefront.APTSMD_Accent_Color__c"
                        class="step-title">2. Shipping</h4></a>

                    <a class="step" [routerLink]="['/payment']" >
                        <h4 class="step-title">3. Payment</h4></a><a class="step" [routerLink]="['/review']" >
                            <h4 class="step-title">4. Review</h4></a></div>
                            <h4>Choose Shipping Method</h4>
                            <hr class="padding-bottom-1x">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-default">
                                        <tr>
                                            <th></th>
                                            <th>Shipping method</th>
                                            <th>Delivery time</th>
                                            <th>Handling fee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-radio mb-0">
                                                    <input class="custom-control-input" type="radio" id="courier" name="shipping-method" [checked]="courierFlag" (change)="onSelectionChange(22.50)">
                                                    <label class="custom-control-label" for="courier"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle"><span class="text-medium">Courier</span><br><span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span></td>
                                            <td class="align-middle">2 - 4 days</td>
                                            <td class="align-middle">$22.50</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-radio mb-0">
                                                    <input class="custom-control-input" type="radio" id="local" name="shipping-method" [checked]="localFlag" (change)="onSelectionChange(10.00)" checked>
                                                    <label class="custom-control-label" for="local"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle"><span class="text-medium">Local Shipping</span><br><span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span></td>
                                            <td class="align-middle">up to one week</td>
                                            <td class="align-middle">$10.00</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-radio mb-0">
                                                    <input class="custom-control-input" type="radio" id="flat" name="shipping-method" [checked]="flatFlag"  (change)="onSelectionChange(33.85)" > 
                                                    <label class="custom-control-label" for="flat"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle"><span class="text-medium">Flat Rate</span><br><span class="text-muted text-sm">All Addresses(default zone)</span></td>
                                            <td class="align-middle">5 - 7 days</td>
                                            <td class="align-middle">$33.85</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-radio mb-0">
                                                    <input class="custom-control-input" type="radio" id="ups" name="shipping-method" [checked]="UPSFlag" (change)="onSelectionChange(18.00)" > 
                                                    <label class="custom-control-label" for="ups"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle"><span class="text-medium">UPS Ground Shipping</span><br><span class="text-muted text-sm">All Addresses(default zone)</span></td>
                                            <td class="align-middle">4 - 6 days</td>
                                            <td class="align-middle">$18.00</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-radio mb-0">
                                                    <input class="custom-control-input" type="radio" id="pickup" name="shipping-method" [checked]="localPickupFlag" (change)="onSelectionChange(0.00)" >
                                                    <label class="custom-control-label" for="pickup"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle"><span class="text-medium">Local Pickup from store</span><br><span class="text-muted text-sm" >All Addresses(default zone)</span></td>
                                            <td class="align-middle">&mdash;</td>
                                            <td class="align-middle">$0.00</td>
                                        </tr>
                                        <tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr class="padding-bottom-1x">
                                <div class="d-flex justify-content-between"><a class="btn btn-outline-secondary m-0" [routerLink]="['/address']">Back</a>
                                    <a 
                                        class="btn btn-primary m-0" 
                                        [routerLink]="['/payment']"
                                        *ngIf="storefront"
                                        [style.backgroundColor]="storefront.APTSMD_Accent_Color__c">Continue</a></div>
                            </div>
                            <!-- Sidebar          -->
                            <div class="col-xl-3 col-lg-4">
                                <aside class="sidebar">
                                    <div class="padding-top-2x hidden-lg-up"></div>
                                    <!-- Order Summary Widget-->
                                    <section class="widget widget-order-summary border-0 p-4" style="background-color: #f5f5f5 !important;">
                                        <h3 class="widget-title">Order Summary</h3>
                                        <table class="table text-sm mb-0">

                                            <tr *ngFor="let summary of cart?.Apttus_Config2__SummaryGroups__r?.records">

                                                <td *ngIf="summary.Name !== 'Grand Total'">{{summary.Name}}:</td>
                                                <td *ngIf="summary.Name !== 'Grand Total'"class="text-medium">{{summary.Apttus_Config2__NetPrice__c | localCurrency | async}}</td>

                                                <td *ngIf="summary.Name === 'Grand Total'">
                                                    <strong>Total:</strong>
                                                </td>
                                                <td *ngIf="summary.Name === 'Grand Total'" class="text-lg text-medium" >
                                                    <strong>{{summary.Apttus_Config2__NetPrice__c | localCurrency | async}}</strong>
                                                </td>
                                          </tr>
                                          <tr>
                                                 <td>
                                                      <strong>Shipping Charge:</strong>
                                                 </td>
                                                 <td class="text-lg text-medium" >
                                                        
                                                       <strong>{{shippingCharge | localCurrency | async}}</strong>
                                                 </td>
                                          </tr>
                                          <tr>
                                                <td>
                                                     <strong>Grand Total:</strong>
                                                </td>
                                                <td class="text-lg text-medium">
                                                      <strong>{{(total + shippingCharge) | localCurrency | async}}</strong>
                                                </td>
                                         </tr>  
                                        </table>
                                        <ng-template #calculating>
                                            <span class="list-group-item bg-light">
                                                <div class="d-flex justify-content-end">
                                                    <strong>Pricing Cart...</strong>
                                                </div>
                                            </span>
                                        </ng-template>
                                    </section>
                                </aside>
                            </div>
                        </div>
                    </div>