<!--<div class="row">
    <div class="col-sm-6">
        <div class="pt-3 pb-3">
        <span>Base Price: </span><price [priceListItem]="product?.Apttus_Config2__PriceLists__r?.records[0]" [priceForm]="priceForm"></price>
        </div>
    </div>
</div>-->
<div class="row align-items-end mb-4">
    <div class="col-sm-4">
        <div class="form-group mb-0">
            <label for="sp-quantity" style="padding-left: 0px !important;">Quantity </label>
            <input class="form-control" 
            id="sp-quantity"
            id="inputGroupSelect01"
            [(ngModel)]="priceForm.quantity" 
            name="quantity" type="number" min="1">
            <!-- <select 
                class="form-control" 
                id="sp-quantity"
                id="inputGroupSelect01" 
                [(ngModel)]="priceForm.quantity" 
                name="quantity" 
                (change)="formChange()">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
            </select> -->
        </div>
    </div>
    <div class="col-sm-8">
        <div class="pt-4 hidden-sm-up"></div>
        <button 
             *ngIf="storefront"
            [style.backgroundColor]="storefront.APTSMD_Accent_Color__c"
            class="btn btn-block btn-primary my-0" 
            (click)="addToCart()" 
            [ladda]="loading">Add to Cart</button>
    </div>
</div>