
<breadcrumbs [breadPageTitle]="pageTitle"></breadcrumbs>

<div class="row">
        <div class="center col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-11 col-xs-12 col-sm-12">
            <div class="row">
                  <div class="col-4">
                        <img src="https://www.cummins.com/sites/default/files/styles/page_hero_image/public/images/hero_images/contact-directory.jpg?itok=e7o0Wzcf"  />
                  </div>
                  <div class="col-6">
                        <br/>
                        <h2>Contact Directory</h2>
                        <br/>
                        <p >contact us 24 hours a day at 1-650-445-7700. If you are located outside of North America, please call 1-812-345-1576 or see our listing of international contact numbers.</p>
                       
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><span class="skype-button bubble" data-bot-id="cb6c9bc3-1c8e-4aff-bf29-f845026decc7"></span></div>
    </div> 

