.center{
    margin: auto;
    width: 100%;
    padding: 10px;
}



:host ::ng-deep .skype-button {
    font-family: "Segoe UI Local", "Segoe WP", "Segoe UI Web", "Segoe UI Arabic Web", "Segoe UI Cyrillic Web", "Segoe UI Greek Web", "Segoe UI Hebrew Web", Tahoma, "Helvetica Neue", Helvetica, "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif!important;
    cursor: pointer!important;
    position: relative!important;
    background-color: blue!important;
    margin-top: 100px!important;
    color: red!important;
    z-index: 1000!important;
}